body {
	position: relative;
	font-family: sans-serif;
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
}

label {
	display: block;
	font-size: 20px;
}

input[type=text] {
	width: 400px;
	font-size: 20px;
	padding: 2px;
}

textarea {
	width: 600px;
	height: 300px;
	font-size: 17px;
	font-family: monospace;
}

input[type=submit] {
	font-size: 24px;
}

.wiki-title {
	font-weight: bold;
	font-size: 20px;
}

.wiki-content {
	margin: 0;
	font-size: 17px;
}

.nav-area1 {
	font-size: 13px;
	color: gray;
	position: absolute;
	top: 10px;
	right: 100px;
}

.nav-area2 {
	font-size: 13px;
	color: gray;
	position: absolute;
	top: 10px;
	right: 10px;
}

.nav-link {
	color: gray;
	text-decoration: none;
}

.nav-link:visited {
	color: gray;
}

.nav-link:hover {
	text-decoration: underline;
}

.version {
	position: relative;
	margin-top: 20px;
	font-size: 12px;
}

.version-date {
	position: absolute;
	left: 0px;
	bottom: 0px;
	color: #333;
}

.version-content {
	position: absolute;
	left: 150px;
	bottom: 0px;
	color: #333;
}

.version-view {
	position: absolute;
	left: 750px;
	bottom: 0px;
	color: #333;
}

.version-edit {
	position: absolute;
	left: 800px;
	bottom: 0px;
	color: #333;
}